@using Microsoft.AspNetCore.Identity
@model IEnumerable<IdentityUser>

<h2>Kullanıcı Listesi</h2>

<table>
    <thead>
        <tr>
            <th>Kullanıcı Adı</th>
            <th>Email</th>
            <th>İşlemler</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.UserName</td>
                <td>@user.Email</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@user.Id">Düzenle</a> |
                    <a asp-action="Delete" asp-route-id="@user.Id">Sil</a>
                </td>
            </tr>
        }
    </tbody>
</table>